{{!-- salnted Div to give the effect of an angled line --}}
<div class="slantedDiv"></div>
<main class=" container my-5 pt-5 text-center">
    <section class="content">
        <h1>Chats 'R'Us</h1>
        <p>Work communication made easy</p>
        <a href="/login" class="btn btnCustom btn-outline-secondary btn-block mt-3 ">Get Started</a>
    </section>
    <section class="row my-5">
        <div class="col-md-4" data-aos="slide-up">
            <div class="card border-0">
                <br>
                <img src="https://unitedinternationalservices.com/static/media/chatbubbles.ea3e3f17.png" alt="" class="card-img-top">
                <br>
                <br>
                <br>
                <h5 class="card-title">Real Time Chat</h5>
            </div>
        </div>
        <div class="col-md-4" data-aos="slide-up">
            <div class="card border-0">
                <img src="https://png.pngtree.com/png-vector/20190618/ourmid/pngtree-datafolderpasswordprotectionsecure-abstract-circle-backg-png-image_1487960.jpg" alt="" class="card-img-top">
                <h5 class="card-title">Protected Password</h5>
            </div>
        </div>
        <div class="col-md-4 " data-aos="slide-up">
            <div class="card border-0">
                <img src="https://png.pngtree.com/png-vector/20190401/ourmid/pngtree-more-icon-design--essential-icon-vector-design-png-image_902831.jpg" alt="" class="card-img-top">
                <h5 class="card-title">More feactures coming soon</h5>
            </div>
        </div>
    </section>
</main>