welcome to login

<form id="login-form">
    <input type="text" id="username" placeholder="username" autocomplete="off">
    <input type="password" id="password" placeholder="password"autocomplete="off">

    <button type="submit">login</button>
</form>

<script src="/js/login.js"></script>