html, body{
  height: 100%;
}
.slantedDiv{
  position: relative;
  z-index: -1;
  height: 400px;
  background-image: url("https://images.ctfassets.net/3prze68gbwl1/asset-17suaysk1qa1jgn/ce11bb9326335ed093b680aac0f97686/android-chat-app-tutorial.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-11deg);
  
}

.slantedDiv .content{
  margin-left: 5rem;
  padding-top: 7rem;
  transform: skewY(11deg);
}

form.signup,
form.login {
  margin-top: 50px;
}


.centered{
  text-align: center;
  color: blueviolet;
}

#footer{
  text-align: center;
  color: blueviolet;
}
#centered{
text-align: center;
color:blue;
}

.message-bubble{
  max-width: 200px;
}

.my-message{
  background-color: rgb(171, 205, 236);
  margin-left: auto;
}
.message{
  max-width: 200px;
  min-height: 50px;
  
  margin-bottom: 20px;
}
.message-text{
  font-size: 10px;

}